<!include DOCTYPE html>
<html>
    <head>
        <title>aro prototype resume</title>
        <link href="setup.css" rel="stylesheet"></link>
    </head>

    <body>
     
        <main>
            <section>
                <header>
                    <h1><font size="35">Insert Name</font></h1>
                    <div class="line-separator"></div>
                </header>
                <subhead>
                    <p><font color="blue">a</font>ro</p>
                <div class="left"></div>
                <div class="right">
                    <h4>Objective</h4>
                    <p>Insert Objective</p>
                    <h4>Experience</h4>
                    <p>Job Position (Date Started - Date Ended)</p>
                    <ul>
                        <li>Technical Description</li>
                        <li>Technical Description</li>
                    </ul>
                    <h4>Skills</h4>
                    <p>Languages: </p>
                    <p>Hobbies: </p>
                    <h4>Education</h4>
                    <p>BS, Economics, My University</p>
                    <ul>
                        <li>Award for best senior thesis</li>
                        
                    </ul>
                    </div>
                    <div id="footer">
                    <p>Street, Town, State ZIP | Tel: (XXX) XXX-XXXX</p>
                    </subhead>
               
            </section>
          
        </main>
        
    </body>
</html>
