<!include DOCTYPE html>
<html>
    <head>
        <title>aro prototype welcome</title>
        <link href="setup.css" rel="stylesheet"></link>
    </head>

    <body>
        
        <main>
            <section>
                
                <header>
                    <h1><font size="35">Welome</font></h1>
                    <div class="line-separator"></div>
                </header>
                <subhead>
                    <p>to <font color="blue">a</font>ro</p>
                    <p1> < </p1>
                   
                </subhead>
               
            </section>
            
            <footer>
                 <div class="line-separator"></div>
            </footer>
            
        </main>
        
    </body>
</html>
