@font-face{
    font-family: Genosans;
    src: url("../fonts/GeosansLight.ttf");
}

body{
    background: no-repeat linear-gradient(225deg, #bbfdff, #2f307c);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: Genosans;
    margin: 0px;
    padding: 0px;
}

header{
    overflow: auto;
    top: 0px;
}

aside{
    max-height: 60px;
    overflow-y: hidden;
    width: 50px;
    float: left;
    position: relative;
    transition: all 1s .5s;
}

aside:hover{
    max-height: 100vh;
    width: 70px;
    transition: all 1s;
}


/* 
    --Header And Logo --
*/

body > header{
    position: fixed;
    width: 100vw;
}

nav{
    background-color: rgba(47, 48, 124, 0.86);
    height: calc( 100vh - 10px );
    padding: 5px 10px;
    display: block;
}

nav > ul{
    margin: 0px;
    padding: 0px;
}

nav > ul > li{
    padding-top: 100%;
    width: 100%;
    background-size: cover;
    text-decoration: none;
    list-style: none;
    margin: 15px 0px;
    transition: all .5s;
    cursor: pointer;
}

nav > ul > li:hover{
    opacity: .5;
}


#logo{
    font-family: Genosans;
    font-size: 50px;
    width: auto;
    color: white;
    float: right;
    margin-right: 20px;
}
#logo > a{
    color: #2f307c;
}


/*
    --iFrame--
*/

.hide{
    max-height: 0px;
}

main{
    max-height: 1000px;
    overflow: hidden;
}

iframe{
    margin: 100px 10% -5px;
    padding: 0px;
    min-height: calc( 100vh - 100px );
    width: 80%;
    border: none;
    background: #FFF;
    transition: all 1s;
}

.hidden{
    transform: translateY(100vh)
}