<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Aro E Comm. Template</title>
        <link href="/resources/index.css" type= "text/css" rel="stylesheet" />
    </head>
    
    <body>
        <content>
            <aside>
                <ul>
                    <li>Home</li>
                    <li>Support</li>
                    <li>Products</li>
                    <li>Shipping</li>
                </ul>
            </aside>
            
            <main>
                <header>
                    <h1></h1>
                    <div class="details">Urban Shoes.</div>
                </header>
                
                <figure class="left">Main image.</figure>
                
                <aside class="right social">
                    <h2>Connect With US</h2>
                </aside>
                
                <section class="left">
                    <article>
                        <h2>New Product Available</h2>
                        <p></p>
                    </article>
                    
                    <article>
                        <h2>Partner Under More Construction</h2>
                        <p>Will be released on December 25, 2014</p>
                    </article>
                    
                </section>
            </main>
            
            <aside class="right" style="width: calc( 100% - 950px); min-width: 0px;"></aside>
            
        </content>
        
    </body>
</html>